* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-text h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #9b745b;
  font-size: 40px;
}

.coun {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 20px;
}

.box {
  width: 540px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
  background-color: #f0ece499;
  margin: 20px;
  /* background-color: red; */
}

.sc-text-inBox {
  color: #2e211c99;
}

.inbox {
  padding: 35px;
}

.inbox h1 {
  margin-bottom: 7px;
}

.bold-text-inBox {
  font-size: 24px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.hash-textarea {
  width: 100%;
  height: 80px;
  border-radius: 7px;
  border: 1.5px solid #9b745b;
  outline: none;
  resize: none;
  padding: 13px;
  box-shadow: 0px 0px 2px 0px #9b745b;
  font-size: 20px;
}

.hash-textarea::placeholder {
  color: #2e211c80;
}

.finaly-text-inBox {
  color: #2e211c;
  font-size: 24px;
  margin-top: 20px;
}

.textarea-copyHash {
  height: 57px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: solid 1px #9b745b;
  resize: none;
  padding-top: 15px;
  padding-left: 20px;
  margin-top: 15px;
  font-size: 20px;
}

.textarea-wrapper {
  position: relative;
}

.Encrypt-btu {
  width: 358px;
  height: 61px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #e4a985;
  background-color: #dfd7c9;
  margin-left: 13%;
  margin-top: 25px;
  cursor: pointer;
  transition: background 0.8s, transform 0.1s, box-shadow 0.1s;
  color: #9b745b;
  box-shadow: 0 0px 10px #e4a985;
  font-size: 20px;
}

.Encrypt-btu:active {
  transform: scale(0.96);
  box-shadow: 0 2px 5px #c89b78 inset;
  transition: transform 0.1s, box-shadow 0.1s;
}

.textarea-appear {
  height: 120px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: solid 1px #9b745b;
  resize: none;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 45px;
  font-size: 20px;
  box-sizing: border-box;
}

.secretKey {
  border: solid 1px #9b745b;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  padding: 4px 10px 0px 8px;
  flex-grow: 1;
}

.GenerateKeys-btn {
  width: 100%;
  height: 61px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #e4a985;
  background-color: #dfd7c9;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.8s, transform 0.1s, box-shadow 0.1s;
  color: #9b745b;
  box-shadow: 0 0px 10px #e4a985;
  font-size: 20px;
}

.GenerateKeys-btn:active {
  transform: scale(0.96);
  box-shadow: 0 2px 5px #c89b78 inset;
  transition: transform 0.1s, box-shadow 0.1s;
}

.material-symbols-outlined {
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none !important;
  color: #c0a898;
  transition: transform 0.1s ease, color 0.2s ease;
}

.copy-icon-1 {
  color: #c0a898;
}

.material-symbols-outlined:hover {
  color: #d99160;
}

.material-symbols-outlined:active {
  transform: scale(0.85);
  color: #b07050;
}
