:root {
  --bgClr: #f8fafc;
  --bgClr2: #f0ece4;
  --bgClr3: #ece7de;
  --bgClr4: #dfd7c9;
  --mainClr: #9b745b;
  --text: #2e211c;
  --text2: #7e8088;
  --green: #22c55e;
  --red: #ef4444;
  --yellow: #f59e0b;
}

* {
  font-family: "National Park", sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-color: var(--bgClr) !important;
}

.secBg {
  background-color: var(--bgClr2);
}

.dfcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dfCcc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  color: var(--text);
}

.text2 {
  color: var(--text2);
}

.transition {
  transition: all 0.3s ease-in-out;
}

.pointer {
  cursor: pointer;
}

.ourShadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.308),
    0px 0px 16px 0px rgba(173, 171, 171, 0.3);
}

.showMore > div > h5 {
  gap: 5px !important;
}

.showMore:hover > div > h5 {
  gap: 15px !important;
}

img {
  user-select: none !important;
}
