* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* main */

.main-text h1 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 35px;
  color: #9b745b;
  font-size: 40px;
}

.coun {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.box {
  width: 579px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
  background-color: #f0ece499;
  margin-bottom: 35px;
}

.sc-text-inBox {
  color: #2e211c99;
}

.inbox {
  padding: 35px;
}

.inbox h1 {
  margin-bottom: 7px;
}

.bold-text-inBox {
  font-size: 24px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.hash-textarea {
  width: 100%;
  height: 189px;
  border-radius: 7px;
  border: 1.5px solid #9b745b;
  outline: none;
  resize: none;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px #9b745b;
  font-size: 20px;
}

.hash-textarea::placeholder {
  color: #2e211c80;
}

.finaly-text-inBox {
  color: #2e211c;
  font-size: 24px;
  margin-top: 20px;
}

.textarea-copyHash {
  height: 57px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: solid 1px #9b745b;
  resize: none;
  padding-top: 15px;
  padding-left: 20px;
  margin-top: 15px;
  font-size: 20px;
}

.textarea-wrapper {
  position: relative;
}


.Generate-btu {
  width: 358px;
  height: 61px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #e4a985;
  background-color: #dfd7c9;
  margin-top: 25px;
  margin-left: 13%;
  cursor: pointer;
  transition: background-color 0.8s, transform 0.1s, box-shadow 0.1s;
  color: #9b745b;
  box-shadow: 0 0px 10px #e4a985;
  font-size: 20px;
}

.Generate-btu:active {
  transform: scale(0.96);
  box-shadow: 0 2px 5px #c89b78 inset;
  transition: transform 0.1s, box-shadow 0.1s;
}

.material-symbols-outlined {
  position: absolute;
  right: 10px;
  top: 33px;
  cursor: pointer;
  user-select: none;
  color: #c0a898;
  transition: transform 0.1s ease, color 0.2s ease;
}

.material-symbols-outlined:hover {
  color: #d99160;
}

.material-symbols-outlined:active {
  transform: scale(0.85);
  color: #b07050;
}
